<header class="header">
    <nav class="header__nav">
        <div class="header__logo-container">
            <a href="#" class="header__logo-link">
                <img width="121" src="img/logo-main.svg" alt="Flower Shop Logo" class="header__logo">
            </a>
        </div>
        <button class="header__burger-menu">
            <span class="header__burger-menu-line"></span>
            <span class="header__burger-menu-line"></span>
            <span class="header__burger-menu-line"></span>
        </button>
        <ul class="header__menu">
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">About Us</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">Services</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">Shop</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">Contact</a>
            </li>
        </ul>
        <div class="header__call-us">
            Call us: <a href="tel:+1234567890" class="header__call-us-link">+1 234 567 890</a>
        </div>
    </nav>
    <div class="header__hero">
        <h1 class="header__title">
            Sami's flowers
        </h1>
        <p class="header__subtitle">
            We deliver flowers to your door
        </p>
        <div class="divider"></div>
        <a href="#" class="button">
            Learn More
        </a>
    </div>
</header>